<div class="p-form">
    <h2 class="p-form--title">新規作成</h2>
    <form class="c-form" action="/form" method="post">
        <input type="text" name="title" placeholder="タイトル" required>
        <textarea name="content" placeholder="本文" required></textarea>
        <div class="u-text-center"><button class="c-form--btn c-btn1" type="submit">保存</button></div>
    </form>
</div>
