<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メモアプリ</title>
    <link rel="stylesheet" href="/common.css" type="text/css">
</head>

<body>
    <div class="l-wrap">
        <header class="l-header">
            <h1 class="l-header--logo"><a href="/">メモアプリ</a></h1><!-- /.l-header--logo -->
        </header><!-- /.l-header -->
        <main class="l-main">
            <%= yield %>
        </main>
    </div>
</body>

</html>
