<div class="p-memo">
    <h2 class="p-form--title">メモ編集</h2>
    <form class="c-form" action="/memos/<%= @memo['id'] %>" method="post">
        <input type="text" name="title" value="<%= @memo['title'] %>" required>
        <textarea name="content" cols="30" rows="10" required><%= @memo['content'] %></textarea>
        <div class="u-text-center">
            <input type="submit" value="変更" class="c-btn1">
            <input type="hidden" name="_method" value="patch">
        </div>
    </form>
</div><!-- /.p-memo -->
